In [20]:
a=[1,2,3,4,5]

In [10]:
s=0
s=s+1
s=s+2
s=s+3
s=s+4
s=s+5
s

15

In [15]:
a=[1,2,3,4,5]

for x in a:
    print(x)

1
2
3
4
5

[91]aの要素をｐとして呼び出す、forとかinなど役がある文字は使えない。字下げをすると文字が赤くなり実行できない。スペースの範囲で実行したときの意味が変わってくる。

In [22]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

[92]

In [23]:
a

[1, 2, 3, 4, 5]

In [25]:
s=0
for x in a:
    s=s+x
s

15

In [26]:
a

[1, 2, 3, 4, 5]

In [28]:
s=0
for x in a:
    s=s+x
s/len(a)

3.0

In [34]:
avg_tohoku = 0.0
for val in list_tohoku:
    avg_tohoku += val
    avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

1207.609246399177

+=は足していく、/=x/len(x)の事

これは一回足すたびに平均を出している

In [35]:
avg_tohoku = 0.0
for val in list_tohoku:
    avg_tohoku += val
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

これは全部足してから平均を出している

[93]

In [51]:
list_shikoku = [3148, 2991, 2966, 2457]
s=0
for x in list_shikoku:
    s += x
    
s/len(list_shikoku)

2890.5

[94]

In [52]:
from statistics import*

In [53]:
mean(list_shikoku)

2890.5

[96]

In [55]:
dic={'A':100,'B':20,'C':3000}
dic['A']

100

In [56]:
for key in dic:
    print(key)

A
B
C

In [59]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
for val in dict_tohoku:
    print(val)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [60]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
for X in dict_tohoku:
    print(X)

aomori
akita
sendai
Yamagata
fukushima
morioka

辞書はペアの左側が要素として取り出してくれる

[97]

In [68]:
for val in dict_tohoku:
    print(dict_tohoku[val])

5349
4644
5344
4968
6259
5478

これはペアの右側を出す

[98]

In [81]:
s=0
for x in dict_tohoku:
    print(dict_tohoku[x])
    s+=dict_tohoku[x]
s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

In [82]:
a=[5,4,3,2]

In [83]:
s=0
for x in a:
    s+=x
s/len(a)

3.5

In [88]:
dic={'A':10,'B':100,'C':1000}
s=0
for x in dic:
    print (dic[x])
    s+=dic[x]
s/len(dic)

10
100
1000

370.0

[99]

In [98]:
print(dict_tohoku.values())

dict_values([5349, 4644, 5344, 4968, 6259, 5478])

In [99]:
mean(dic.values())

370

valuesはペアの値を出す