In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1~10まで、最後の数字は入らない

In [3]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [4]:
name='ryota'

In [5]:
len(name)

5

In [6]:
name.upper()

'RYOTA'

大文字になる。

lenは文字列にも数列など他のものにも使える。upperは文字にしか使えない。

In [9]:
address = 'Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [10]:
address = 'Tokyo,Japan'
address.split('o')

['T', 'ky', ',Japan']

指定した文字で区切ってくれる

In [12]:
address.index('T')

0

In [13]:
address.index('p')

8

In [16]:
address.index('o')

1

indexは文字を左から検索して何番目にあるか教えてくれる。なかったらエラー。

In [18]:
address.upper()

'TOKYO,JAPAN'

In [19]:
address.lower()

'tokyo,japan'

In [22]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [23]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2009, 1, 1)
result = date_b - date_a
print(result)

366 days, 0:00:00

In [29]:
date_a.year

2008

In [26]:
date_a.month

1

In [27]:
date_a.day

1

.upperは()がいるのに.yearは（）がいらない。違いは（）ありは何らかの処理をする。（）無しはデータにアクセスするだけ。

メソッドと属性を組み合わせたものをオブジェクト。

In [31]:
date.today()

datetime.date(2017, 5, 17)

In [33]:
date.tommorow()

AttributeError: type object 'datetime.date' has no attribute 'tommorow'

In [34]:
birthday=date(1997,11,13)

In [36]:
today=date.today()

In [37]:
result=today-birthday

In [38]:
print(result)

7125 days, 0:00:00

In [39]:
today.weekday()

2

In [40]:
date_a.weekday()

1

In [44]:
birthday.weekday()

3

jupyternotebookではクラス図は描けない

In [45]:
date_c=date(2000,5,5)